<h2> Greetings <%=current_user.username%>!</h2>

<h3> Your Favorited Gifs:</h3>

<div class ="favorite-grid">
  <% @categories.uniq.each do |category| %>
    <div class ="favorite-category">
    <h4>  <%=category%> </h4>
      <div class ="favorite-unit">
        <% @favorites.each do |favorite| %>
          <% if favorite.gif.category.name == category%><br>
            <img src=<%= favorite.gif.image_path%>>
            <%= button_to "Unfavorite This Gif", user_favorite_path(current_user, favorite), method: :delete%>
          <%end%>
      </div>
      <%end%>
    </div>
  <%end%>
</div>
