<h3> All Gifs! </h3>

<% @categories.each do |category| %>
  <%= category.name %><br>
  <% category.gifs.each do |gif|%>
    <img src="<%= gif.image_path%>">
    <%= button_to "Favorite!", user_gif_favorites_path(current_user, gif), :method=>:post  %>
  <%end%>
<%end%>
