<h3> Welcome to Gif Generator! </h3>

<p> If you don't have an account, create one <%= link_to "here", new_user_path %></p>

<p> Otherwise feel free to <%= link_to "browse the gifs here!", gifs_path %>
