<h3> Select a new Category to generate a gif </h3>

<%= form_for [:admin, @gif] do |f| %>

  <%= f.label :category_id, class: "form-field"  %>
  <%= f.select :category_id, @categories.collect { |category| category.name }, class: "form-field"  %>

  <%= f.submit %>

<%end %>
