<h1>Admin Categories</h1>


<h3> Here are the categories that have been created so far... </h3>
<ul>
  <% @categories.each do |category| %>
  <li><%= link_to category.name, admin_category_path(category) %> </li>
  <%end%>
</ul>


<%= link_to "Create New Category", new_admin_category_path %>
